@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Name: @Model.GetName()</h3>
<h3>Ingredients: @Model.GetIngredients()</h3>
<h3>Instructions: @Model.GetInstructions()</h3>
<h3>Cook Time: @Model.GetTime()</h3>
<h3>Rating: @Model.GetRating()</h3>
