@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Name: @Model["recipe"].GetName()</h3>
<h3>Ingredients: @Model["recipe"].GetIngredients()</h3>
<h3>Instructions: @Model["recipe"].GetInstructions()</h3>
<h3>Cook Time: @Model["recipe"].GetTime()</h3>
<h3>Rating: @Model["recipe"].GetRating()</h3>

@foreach (var category in Model["recipe"].GetCategories())
{
    <h3>@category.GetName()</h3>
}
